/* display: 'flex',
// 		borderRight: '3px solid #1126920D',
// 		width: '250px',
// 		height: '100vh',
// 		alignItems: 'center',
// 		flexDirection: 'column', */

.navbar {
    display: flex;
    border-right: 3px solid #1126920D;
    width: 250px;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

hr {
    width: 100%;
    border: 0.5px solid #E7EFFF;
}

.nav-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item>a {
    text-decoration: none;
    color: #0D62FF;
}

.nav-item--box {
    padding: 3px 20px;
    cursor: pointer;
}

.active {
    background-color: #0D62FF;
    border-radius: 5px;
}

.active>section>a {
    color: white;
}

/* ------------------ Moible ------------------ */
.navbar--mobile {
    display: flex;
    position: relative;
    border-right: 3px solid #1126920D;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.navbar--hamburger {
    position: absolute;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

.navbar--header-mobile {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

@-webkit-keyframes slide-in {
    100% {
        left: 0;
    }
}

@keyframes slide-in {
    100% {
        left: 0;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
        flex: none;
    }
}